
<div class="col-9 text-center ">
	<div><%= link_to 'New post', new_post_path %></div>


	<% @posts.each do |post| %>
		
		
	<div class="some-post"><%= post.title %></div>

	<div class="some-text"><%= post.text %></div>

	<div class="some-buttom"> <%= link_to post_path(post) do %>
		<div class="btn btn-default">show</div>
		<% end %>


		<%= link_to edit_post_path(post) do %>
		<div class="btn btn-default">Edit</div>
		<% end %>


		<%= link_to post_path(post),
		  method: :delete,
		  data: { confirm: 'Are you sure?' } do %>
		  	<div class="btn btn-danger">Destroy</div>
		<% end %>
	</div>

	<% end %>
</div>




