<div>
  <%= @post.title %>
</div>
 
<div>
  <%= @post.text %>
</div>


<div class=" col-md-12 my-new-comments">
	<h3>Comments:</h3>
	<%= render @post.comments %>

	<h2>add a comment: </h2>
	<%= render 'comments/form' %>

	<div class="col-12">
		<%= link_to edit_post_path(@post) do %>
			<div  class="btn btn-default">Edit</div>
		<% end %> 

		<%= link_to posts_path do %>
			<div  class="btn btn-default">Back</div>
		<% end %> 

	</div>

</div>
